# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production builds
client/dist/
server/dist/

# Local configuration & state
panel-config.json
*.tmp
*.bak
*.log
/data/
!server/src/data/
ops/__pycache__/
test-manager-data/
mcserver/
test/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
